body {
	font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
	color: $text-color;
	background-color: $background-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

* {
	box-sizing: border-box;
	font-family: terminal;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	min-height: 100vh;
	min-width: 100vw;
	background-color: black;
	overflow: hidden;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
:focus {
	outline: none;
}

*::selection {
	background-color: transparent;
	// color: white;
}

// -----------------------
//  Links
// -----------------------

a {
	text-decoration: none;
	cursor: none;
	@include transition(100ms);
	padding: 5px;
	margin: -5px;

	&:hover {
		text-decoration: underline;
		color: red;
	}
}


audio {
	display: none;
}