body.paulie {
	cursor: url("/assets/paulie/cursor1.png"), auto !important;

	button {
		cursor: url("/assets/paulie/cursor1.png"), auto !important;
	}
}

#PoweredOff {
	background-color: black;
}

#Desktop {
	background-color: $green;
	height: 100vh;
	width: 100vw;
	top:0;
	left:0;
	position: absolute;
}

#Final {
	background-color: red;
	height: 100vh;
}

.window {

}