<audio controls preload="auto" id="ClickDownSound">
	<source src="//os.nifnut.com/assets/sounds/click_down.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="ClickUpSound">
	<source src="//os.nifnut.com/assets/sounds/click_up.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="FartSound">
	<source src="//os.nifnut.com/assets/sounds/fart.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto" id="TadaSound">
	<source src="//os.nifnut.com/assets/sounds/tada.mp3" type="audio/mpeg">
</audio>
<audio controls preload="auto"  id="PowerSound">
	<source src="//os.nifnut.com/assets/sounds/power.mp3" type="audio/mpeg">
</audio>