<!-- Poop! -->

<button id="Poop1" class="poop png">poop (1)</button>
<button id="Poop2" class="poop png">poop (2)</button>

<button id="Poop3" class="poop qr">poop (3).png</button>
<button id="Poop4" class="poop qr">poop (4).png</button>
<button id="Poop5" class="poop qr">poop (5).png</button>
<button id="Poop6" class="poop qr">poop (6).png</button>
<button id="Poop7" class="poop qr">poop (7).png</button>
<button id="Poop8" class="poop qr">poop (8).png</button>
<button id="Poop9" class="poop qr">poop (9).png</button>

<button class="poop" id="Poop10">READ NOW.txt</button>

<script>
	$(function () {
		$("#Poop1").css({ bottom: "30%", right: "20%", });
		$("#Poop2").css({ top: "40%", right: "10%", });

		$("#Poop3").css({ bottom: "30%", right: "10%", });
		$("#Poop4").css({ bottom: "45%", right: "20%", });
		$("#Poop5").css({ bottom: "45%", right: "30%", });
		$("#Poop6").css({ bottom: "70%", right: "20%", });
		$("#Poop7").css({ bottom: "75%", right: "30%", });
		$("#Poop8").css({ top: "20%", right: "50%", });
		$("#Poop9").css({ top: "15%", right: "60%", });
		

		$("#Poop10").css({ top: "20%", left: "20%", });
	})
</script>