<!-- Poop! -->

<button id="Poop1" class="poop png">poop (1)</button>
<button id="Poop2" class="poop png">poop (2)</button>

<button id="Poop3" class="poop qr">poop (3).png</button>
<button id="Poop4" class="poop qr">poop (4).png</button>
<button id="Poop5" class="poop qr">poop (5).png</button>
<button id="Poop6" class="poop qr">poop (6).png</button>
<button id="Poop7" class="poop qr">poop (7).png</button>
<button id="Poop8" class="poop qr">poop (8).png</button>
<button id="Poop9" class="poop qr">poop (9).png</button>

<button id="Poop10" class="poop txt">READ NOW.txt</button>

<script>
	$(function () {
		$("#Poop1").css({ bottom: "10%", right: "20%", });
		$("#Poop2").css({ top: "30%", right: "20%", });

		$("#Poop3").css({ bottom: "35%", right: "10%", });
		$("#Poop4").css({ bottom: "40%", right: "10%", });
		$("#Poop5").css({ bottom: "45%", right: "10%", });
		$("#Poop6").css({ bottom: "50%", right: "10%", });
		$("#Poop7").css({ bottom: "55%", right: "10%", });
		$("#Poop8").css({ bottom: "60%", right: "10%", });
		$("#Poop9").css({ bottom: "65%", right: "10%", });
		

		$("#Poop10").css({ top: "20%", left: "20%", });
	})
</script>