

<div id="Speechbubble" class="speech bubble left-carot">

</div>


<script>

	$(function () {


		const width = 300;
		const offsetX = 70 //60;
		const offsetY = -20 //-40;

		$("#Speechbubble").css({
			position: "absolute",
			width,
			zIndex: 300
		})


		$(document).on('mousemove', (e) => {
			// if(!cursor.isTracking) return;

			const y = Math.max((UI.cursor.y + offsetY), 0);
			let x = UI.cursor.x + offsetX;
			var viewportWidth = (window.innerWidth || document.documentElement.clientWidth);

			if ($("#Speechbubble").hasClass("left-carot")) {
				if (UI.cursor.x > (viewportWidth - width - offsetX)) {
					x = UI.cursor.x - width - offsetX;
					$("#Speechbubble").toggleClass("right-carot left-carot")
				} 
			}

			if ($("#Speechbubble").hasClass("right-carot")) {
				x = UI.cursor.x - width - offsetX;
				if (UI.cursor.x < (width + offsetX)) {
					$("#Speechbubble").toggleClass("right-carot left-carot")
				} 
			}

			$("#Speechbubble").css("transform", `translate(${x}px, ${y}px)`);
		});

	})

</script>