<div class="ui window musicplayer" id="Musicplayer">
	<div class="ui header system border">
		<div class="ui close system border"></div>
		<span class="ui system text">bach.mp3</span>
	</div>
	<div class="ui scroll-baby system border">
		<div class="ui scrollbar-inner">
			song
		</div>
	</div>
</div>


<script>

	$(function () {
		var transform = {
			bottom: "10%",
			left: "10%",
			height: 200,
			width: 300
		}

		var props = {
			helper: "ui-resizable-helper",
			minHeight: 300,
			maxHeight: 600,
			minWidth: 300,
			maxWidth: 600
		}

		$("#Musicplayer").resizable(props).css(transform)

	})

</script>