* {
	box-sizing: border-box;
	font-family: terminal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
:focus {
	outline: none;
}

*::selection {
	background-color: transparent;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	background-color: $background-color;
	margin: 0;
}

h1,
h2,
h3,
h4,
p,
li,
button {
	font-family: terminal;
}

a {
	text-decoration: none;
	cursor: none;
	@include transition(100ms);
	padding: 5px;
	margin: -5px;

	&:hover {
		text-decoration: underline;
		color: red;
	}
}

audio {
	display: none;
}

@include disableMobileZoom;

/* light blue at 80% opacity */
html {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* change it for a div that has a similar background-color to the light blue tap color */
// .blueDiv {
//     -webkit-tap-highlight-color: rgba(251, 185, 250, 0.9);
// }
