* {
	box-sizing: border-box;
	font-family: terminal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
:focus {
	outline: none;
}

*::selection {
	background-color: transparent;
}

html {
	box-sizing: border-box;
	height: 100%;
}

body {
	background-color: $background-color;
	// background-color: transparent;
	margin: 0;
}

h1,
h2,
h3,
h4,
p,
li,
button {
	font-family: terminal;
}

a {
	text-decoration: none;
	cursor: none;
	@include transition(100ms);
	padding: 5px;
	margin: -5px;

	&:hover {
		text-decoration: underline;
		color: red;
	}
}

audio.sounds {
	display: none;
}

// ========= Mobile Crap =========

.disable-text-highlight {
	-webkit-touch-callout: none; /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none; /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	user-select: none;
}
.disable-dbl-tap-zoom {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}
.disable-press-highlight {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.disable-two-finger-zoom {
	touch-action: pan-x pan-y;
}

* {
	@extend .disable-dbl-tap-zoom;
}
html {
	@extend .disable-press-highlight;
}
body {
	@extend .disable-text-highlight;
	@extend .disable-two-finger-zoom;
}
