@mixin icon($label, $filename) {
	background-image: url($filename);
	&::after {
		content: $label;
	}
}

button.icon {
	border: solid 4px black;
	border-radius: 15px;
	max-width: 60px;
	height: 60px;
	margin: 0 3px;

	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: #f0f0f0;
	}

	&:active {
		background-color: #e0e0e0;
	}

	&.power {
		background-color: $power-red;
	}
}
// .fart.icon {
// 	@include icon("fart.gif", "../images/icon-fart.png");
// }
// .power.icon {
// 	@include icon("power", "../images/icon-power.png");
// }
// .paint.icon {
// 	@include icon("paint", "../images/icon-paint.png");
// }
// .netsurf.icon {
// 	@include icon("netsurf", "../images/icon-netsurf.png");
// }
// .niftydex.icon {
// 	@include icon("niftydex", "../images/icon-niftydex.png");
// }
// .updater.icon {
// 	@include icon("updater", "../images/icon-updater.png");
// }
// .spacer.icon {
// 	flex: 1;
// 	opacity: 0;
// }
