@mixin icon($label, $filename) {
	background-image: url($filename);
	&::after {
		content: $label;
	}
}

.lifted {
	@include transform(translateY(-15px));

	&::after {
		content: "";
		position: absolute;
		background-color: $shadow-grey;
		width: 100%;
		height: 25px;
		left: 0px;
		bottom: 0px;
		border-radius: 20px;
		transform: translateZ(-1px) translateY(15px) scale(1) !important;
	}
}

button.icon {
	max-width: 60px;
	height: 60px;
	margin: 0 5px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	@include transition(transform 100ms ease-in);

	// &:hover {
	// }

	// &:active {
	// }
	// &:focus {
	// }

	&.selected {
		@extend .lifted;
	}

	transform-style: preserve-3d;

	&::after {
		content: "";
		position: absolute;
		background-color: $shadow-grey;
		width: 100%;
		height: 25px;
		left: 0px;
		bottom: 0px;
		border-radius: 20px;
		transform: translateZ(-1px) translateY(5px) scale(0.3);
		@include transition(transform 100ms ease-in);
	}

	border: none;
	background-color: transparent;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.power.icon {
	background-image: url(/nft/icons/icon-power.png);
}
.niftydex.icon {
	background-image: url(/nft/icons/icon-nifty.png);
}
.notepad.icon {
	background-image: url(/nft/icons/icon-notepad.png);
}
.credenza.icon {
	background-image: url(/nft/icons/icon-music.png);
}
.micropaint.icon {
	background-image: url(/nft/icons/icon-paint.png);
}
.snap.icon {
	background-image: url(/nft/icons/icon-snap.png);
}
.clock.icon {
	background-image: url(/nft/icons/icon-clock.png);
	width: 223px;
	max-width: 300px;
	flex: unset;
	right: 20px;
	position: absolute;
	@include phone() {
		display: none;
	}
}

// ----- Loading Animation -----

$spinnerBackground: black;
$spinnerColor: yellow;
$radius: 20px;
$duration: 20s;
.spinner {
	background: $spinnerBackground;
	overflow: hidden;
	border-radius: 10px;
	max-width: 100px;
	width: 56px;
    height: 56px;
	position: absolute;

	.wrapper {
		left: 7px;
		top: 7px;
		width: $radius * 2;
		height: $radius * 2;
		position: relative;
	}

	.left {
		width: $radius;
		height: $radius * 2;
		position: absolute;
		top: 0;
		left: 0;
		background: $spinnerColor;
		border-radius: 100px 0 0 100px;
		z-index: 1;
		opacity: 0;
		animation: fill $duration steps(1, end) 1;
		animation-fill-mode: forwards;
	}

	.right {
		width: $radius;
		height: $radius * 2;
		position: absolute;
		top: 0;
		right: 0;
		background: $spinnerColor;
		border-radius: 0 $radius $radius 0;
		z-index: 1;
		opacity: 1;
		animation: mask $duration steps(1, end) 1;
		animation-fill-mode: forwards;
	}

	.mask {
		width: $radius + 1;
		height: ($radius * 2) + 2;
		position: absolute;
		top: -1px;
		right: -1px;
		background: $spinnerBackground;
		z-index: 10;
		transform-origin: 0 50%;
		animation: rotate $duration linear 1;
		animation-fill-mode: forwards;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes fill {
	0% {
		opacity: 0;
	}
	50%,
	100% {
		opacity: 1;
	}
}
@keyframes mask {
	0% {
		z-index: 10;
	}
	50%,
	100% {
		z-index: 30;
	}
}
@keyframes appear {
	0%,
	94% {
		opacity: 0;
		transform: scale(1.2);
	}
	99% {
		transform: scale(0.96);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.who.let.the.dogs {
	position: absolute;
	bottom: 0px;
	right: -200px;

	&.out {
		right: 200px;
		animation: moveDog 4s ease-out;
		animation-fill-mode: forwards;
	}
}
#Dog {
	width: 60px;
}

@keyframes moveDog {
	from {
		transform: translateX(0vw);
	}
	to {
		transform: translateX(-100vw);
	}
}
