$header: #eeeeee;
$content: #d8d8d8;
$close: #ff0000;

$grey: #d8d8d8;

$borderWidith: 3px;

$header-height: 50px;
$content-height: calc(100% - #{$header-height});



$shadow: drop-shadow(-10px 10px 0px rgba(0, 0, 0, 0.1));
$shadowClicked: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.1));
$OFFSET: -2px; // Avoid clicking actual cursor image

body {
	width: 100%;
	min-width: 100vw;
	height: 100%;
	min-height: 100%;
	position: absolute;
	overflow: hidden;
}

// -------------------
// 	Bottom navbar
// -------------------

.icons.container {
	position: absolute;
	height: 100px;
	width: 100%;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	@include not-phone() {
		padding-left: 20px;
	}
	@include phone() {
		justify-content: center;
	}

	.grey.background {
		background-color: $grey;
		position: absolute;
		width: 100%;
		height: 50px;
		bottom: 0px;
		left: 0px;
		z-index: -1;
		border-top: black 4px solid;
		z-index: 50;
	}
}

body .overlay {
	display: none;
}

body.poweredOff {
	.overlay {
		// cursor: default !important;

		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		// transition: 100ms background-color ease-out;

		opacity: 1;
		background-color: black;
		z-index: 100;

		color: white;
		font-family: Courier;
		text-align: center;
		font-weight: 100;
		margin: 0;
		font-size: 2vw;
	}

	.power.icon {
		background-image: url(/assets/icons/icon-power-off.png);
		z-index: 200;
		&::after {
			display: none;
		}
	}
	img.paulie-zzz {
		width: 80px;
	}
}

@include small-phone() {
	body {
		// background-color: red !important;
	}
}
@include phone() {
	body {
		// background-color: blue;
	}
}



body.cursor {
	cursor: url("/acornOS/assets/paulie/paulie_default.png"), auto !important;
}
body.alive,button {
	cursor: none !important;
}

.cursor {
	position: absolute;
	z-index: 100;
	margin-left: 0vw;
	margin-top: 0vh;
	top: 0px;
	left: $OFFSET;


	img.face {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		@include transition(all 50ms ease-out);
	}
	img.body {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		pointer-events: none;
		@include transition(all 50ms ease-out);
	}
	img.shadow {
		position: absolute;
		top: 5px;
		left: -12px;
		opacity: 0.5;
		width: 110%;
		height: 110%;
		@include transition(all 50ms ease-out);
		pointer-events: none;
	}

	&.grabbing {
		transform: skewX(3deg);
	}
	&.dragging {
		transform: skewX(-3deg);
	}

	&.clicking {
		.body {
			top: -5px;
			left: -2px;
			@include transform(scale(0.98));
		}
		.shadow {
			top: -3px;
			left: -8px;
		}
	}
}


@include phone(){
	.cursor {
		display: none;
	}
	
}

.lifted {
	@include transform(translateY(-15px));
	&::after {
		content: "";
		position: absolute;
		background-color: $shadow-grey;
		width: 100%;
		height: 25px;
		left: 0px;
		bottom: 0px;
		border-radius: 20px;
		transform: translateZ(-1px) translateY(15px) scale(1) !important;
		z-index: 51;
	}
}

.pressed {
	border-radius: 10px;
	box-shadow: 0px 0px 10px 7px #4c4c4c2c inset;
}

button.icon {
	max-width: 60px;
	height: 60px;
	margin: 0 5px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d; // for shadow z-index to work
	z-index: 53;
	@include transition(transform 100ms ease-in);
	&:active {
		@extend .pressed;
	}
	&.selected {
		@extend .lifted;
	}
	&::after {
		content: "";
		position: absolute;
		background-color: $shadow-grey;
		width: 100%;
		height: 25px;
		left: 0px;
		bottom: 0px;
		border-radius: 20px;
		transform: translateZ(-1px) translateY(5px) scale(0.3);
		@include transition(transform 100ms ease-in);
	}
	border: none;
	background-color: transparent;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.power.icon {
	background-image: url(/assets/icons/icon-power.png);
	@include phone() {
		display: none;
	}
}
.niftydex.icon {
	background-image: url(/assets/icons/icon-nifty.png);
}
.notepad.icon {
	background-image: url(/assets/icons/icon-notepad.png);
}
.credenza.icon {
	background-image: url(/assets/icons/icon-music.png);
}
.micropaint.icon {
	background-image: url(/assets/icons/icon-paint.png);
}
.snap.icon {
	background-image: url(/assets/icons/icon-snap.png);
	// border-radius: 15px;
}
.clock.icon {
	background-image: url(/assets/icons/icon-clock.png);
	width: 223px;
	max-width: 300px;
	flex: unset;
	right: 20px;
	position: absolute;
	@include phone() {
		display: none;
	}
}

// ----- Loading Animation -----

$spinnerBackground: black;
$spinnerColor: yellow;
$radius: 20px;
$duration: 30s;
$delay: 2s;
.spinner {
	background: $spinnerBackground;
	overflow: hidden;
	border-radius: 10px;
	max-width: 100px;
	width: 56px;
	height: 56px;
	position: absolute;

	.wrapper {
		left: 7px;
		top: 7px;
		width: $radius * 2;
		height: $radius * 2;
		position: relative;
	}

	.left {
		width: $radius;
		height: $radius * 2;
		position: absolute;
		top: 0;
		left: 0;
		background: $spinnerColor;
		border-radius: 100px 0 0 100px;
		z-index: 1;
		opacity: 0;
		animation: fill $duration steps(1, end) 1;
		animation-fill-mode: forwards;
		animation-delay: $delay;
	}

	.right {
		width: $radius;
		height: $radius * 2;
		position: absolute;
		top: 0;
		right: 0;
		background: $spinnerColor;
		border-radius: 0 $radius $radius 0;
		z-index: 1;
		opacity: 1;
		animation: mask $duration steps(1, end) 1;
		animation-fill-mode: forwards;
		animation-delay: $delay;
	}

	.mask {
		width: $radius + 1;
		height: ($radius * 2) + 2;
		position: absolute;
		top: -1px;
		right: -1px;
		background: $spinnerBackground;
		z-index: 10;
		transform-origin: 0 50%;
		animation: rotate $duration linear 1;
		animation-fill-mode: forwards;
		animation-delay: $delay;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes fill {
	0% {
		opacity: 0;
	}
	50%,
	100% {
		opacity: 1;
	}
}
@keyframes mask {
	0% {
		z-index: 10;
	}
	50%,
	100% {
		z-index: 30;
	}
}
@keyframes appear {
	0%,
	94% {
		opacity: 0;
		transform: scale(1.2);
	}
	99% {
		transform: scale(0.96);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.who.let.the.dogs {
	position: absolute;
	bottom: 0px;
	right: -200px;
	z-index: 52;

	&.out {
		right: 200px;
		animation: moveDog 4s ease-out;
		animation-fill-mode: forwards;
	}
}
#Dog {
	width: 60px;
}

@keyframes moveDog {
	from {
		transform: translateX(0vw);
	}
	to {
		transform: translateX(-100vw);
	}
}




body.paulie {
	cursor: url("/acornOS/assets/paulie/body-smirk.svg"), auto !important;

	button {
		cursor: url("/acornOS/assets/paulie/cursor1.png"), auto !important;
	}
	#Desktop {
		cursor: url("/acornOS/assets/paulie/cursor1.png"), auto !important;
	}
	#PaintCanvas {
		// cursor: url("/acornOS/assets/paulie/cursor-with-pencil.png") 8 8, auto !important;
	}
}

#PoweredOff {
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	button {
		width: 100px;
		height: 32px;
		font-size: 20px;
	}
}
#Desktop {
	background-color: $green;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;
}

.window {
	div {
		text-align: center;
	}
}

$z-intropaulie: 250;
$z-poop: 200;
$z-pet: 300;
$z-kennel: 300;
$z-updater1: 210;
$z-updater2: 210;
$z-updater1overlay: 200;
$z-updater2overlay: 200;

// PAULIE
#PaulieIntro {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 43%;
	left: 47%;
	z-index: $z-intropaulie;
	img.face {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		@include transition(all 100ms ease-out);
	}
	img.body {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		@include transition(all 100ms ease-out);
	}
	img.shadow {
		position: absolute;
		top: 13px;
		left: -18px;
		opacity: 0.7;
		width: 110%;
		height: 110%;
		@include transition(all 100ms ease-out);
	}
}



// DIALOG
#Dialog {
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	height: 5%;
	background-color: #eee;
	border: inset 4px;
}

// PET
.pet {
	position: absolute;
	// border: solid 1px;
	text-align: center;
	padding: 10px;
	z-index: $z-pet;
	img {
		max-width: 100%;
	}
	&.left img {
		transform: scaleX(1);
	}
	&.right img {
		transform: scaleX(-1);
	}
}

#Kennel {
	z-index: $z-kennel;
}

// POOP
.poop {
	position: absolute;
	z-index: $z-poop;

	&::after {
		content: "";

		position: absolute;
		width: 50px;
		left: 50%;
		margin-left: -25px;
		bottom: 27px;

		// border: solid 2px blue;
		background-image: url(../screenshots/poop.svg);
		height: 50px;

		background-color: transparent;
		background-size: contain;
	}
}

#Updater1 {
	z-index: $z-updater1;
}

#Updater2 {
	z-index: $z-updater2;
}

.overlay {
	background: rgba(0, 0, 0, 0.01);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: $z-updater1overlay;
	&.updater1 {
		z-index: $z-updater1overlay;
	}
	&.updater2 {
		z-index: $z-updater2overlay;
	}
}

.speech.bubble {
	background: white;
	border: solid 3px black;
	border-radius: 5px;
	line-height: 1.2em;
	padding: 5px 10px;
	min-height: 50px;
	width: 100px;

	display: flex;
	align-items: center;

	&::after {
		content: " ";
		position: absolute;
		bottom: 20%;
		z-index: 900;
		width: 40px;
		height: 50px;
		background-image: url(../screenshots/carot.svg);
		background-repeat: no-repeat;
		background-size: 30px;
		background-position: bottom right;
	}

	&.left-carot::after {
		left: -40px;
		// right: ;
		// transform: scaleX(-1);
	}

	&.right-carot::after {
		left: unset;
		right: -40px;
		transform: scaleX(-1);
	}
}



.app.window {
	position: absolute;

	@include phone() {
		width: 80%;
		max-width: 90vw;
		margin-left: 0;
	}

	h1.header {
		margin: 0;
		background: $grey;
		width: 100%;
		font-size: 22px;
		font-weight: 100;
		line-height: 36px;
		padding-left: 42px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		border: solid $borderWidith black;

		@include border-radius-separate(15px, 15px, 0, 0);
	}

	.close {
		position: absolute;
		top: 13px;
		left: 4px;
		$size: 23px;
		width: $size !important;
		height: $size !important;
		min-width: $size !important;
		min-height: $size !important;
		z-index: 50;
		border-color: black;
		border-style: solid;
		border-width: 4px;
		background: $red;
		margin: 4px;
		margin: 0 10px;
		@include border-radius(40px);
		@include transition(all 100ms);
		&:hover {
			@include transform(scale(1.1));
		}
	}

	.content {
		width: 100%;
		height: 100%;
		background: white;
		border-bottom: solid $borderWidith black;
		border-left: solid $borderWidith black;
		border-right: solid $borderWidith black;
		@include border-radius-separate(0, 0, 15px, 15px);
	}
	img {
		width: 100%;
		@include transition(all 100ms ease-in);
	}
}

// ---- Micropaint -----

.micropaint.window {
	top: 30%;
	left: 38%;
	width: 400px;
	height: 400px;

	@include phone() {
		width: 90% !important;
		max-width: 90% !important;
		top: 3%;
		left: 5%;
	}

	button.mint {
		width: 100px;
		font-size: 20px;
		float: right;
		margin: 6px 10px 0 0;
		border-radius: 2px;
	}

	.swatches {
		position: absolute;
		width: 40px;
		@include phone() {
			margin-top: 10px;
		}

		button {
			margin: 0px;
			max-width: 20px !important;
			max-height: 20px !important;
			height: 20px;
			width: 12px;
			position: relative;
			display: block;

			border-style: solid;
			border-color: white;
			border-width: 10px;
			box-sizing: content-box;
			
			border-radius: 15px;
			&.selected {
				transform: scale(0.9);
			}
			@include phone() {
				margin-left: 7px;
				max-height: 30px !important;
				height: 25px !important;
				width: 5px !important;
				margin-left: 20px!important;
			}
			@include small-phone() {
				margin-left: 7px!important;
			}
			@include iphone11() {
				max-width: 30px !important;
				min-width: 2px !important;
			height: 30px!important;
			width: 30px!important;
			border-width: 1px;
			box-sizing: border-box;
			border-radius: 8px;
			margin-left: 5px!important;
			margin-bottom: 15px;
			}
		}
	}

	.content {
		canvas {
			float: right;
			border-left: solid 3px #ccc;
			border-bottom: solid 3px #ccc;
			&.drawing {
				background-image: url(/assets/images/mspaint.png);
				background-size: contain;
				background-repeat: no-repeat;
			}

		}
		
	}
}

// ---- New Game! -----

.newgame.window {
	left: 40%;
	bottom: 25%;

	@include phone() {
		bottom: 20%;
		left: 12%;
	}
}

// ---- Niftydex -----

.niftydex.window {
	left: 10%;
	top: 10%;
	@include phone() {
		left: 10vw;
		top: 3%;
		width: 80vw !important;
	}
}

// --- music player ----

.credenza.window {
	top: 60%;
	left: 5%;

	@include phone() {
		top: 45%;
		left: 3%;
	}

	img.gif {
		position: absolute;
		display: none;
		left: 113px;
		top: 42px;
		width: 114px;
	}
	.link {
		position: absolute;
		border: solid 3px #f5000000;

		width: 97px;
		height: 71px;
		top: 50px;

		&.left {
			left: 13px;
		}
		&.right {
			right: 8px;
		}
		&:hover {
			border: solid 4px #1000ff;
		}
	}
	audio {
		position: absolute;
		left: 5%;
		bottom: 11px;
		width: 90%;
		height: 29px;
		&::-webkit-media-controls-panel {
			background-color: #d8d8d8;
		}
	}
	&.playing {
		img.gif {
			display: block;
		}
	}
}

// ---- notepad ------

.notepad.window {
	left: 70%;
	top: 10%;
	@include phone() {
		top: 1%;
		right: 3%;
		left: unset;
		img.desktop {
			display: none;
		}
	}
	@include not-phone() {
		img.mobile {
			display: none;
		}
	}
}

// ---- Snapchat -----

.snap.window {
	width: 350px;
	left: 50%;
	bottom: 30%;
	margin-left: -125px;

	@include phone() {
		width: 350px;
		left: 5%;
		top: 2%;
		max-width: 100% !important;
	}
	.space {
		opacity: 0;
		position: absolute;
		border-radius: 200px;

		top: 110px;
		left: 75px;
		height: 200px;
		width: 200px;

		// background-color: red;
		background-image: url(/assets/images/stargate.gif);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		@include transition(opacity 1s ease-in);

		@include phone() {
			opacity: 0;
			position: absolute;
			border-radius: 200px;
			top: 110px;
			left: 75px;
			height: 200px;
			width: 200px;
		}
	}
}

// ---- Updater -----

.updater.window {
	width: 400px;
	left: 50%;
	bottom: 40%;
	margin-left: -200px;
	z-index: 900 !important;

	@include phone() {
		width: 100%;
		top: unset;
		bottom: 5%;
		left: 0%;
	}
}

@include phone() {
	img.gif {
		display: none !important;
	}
}



@include thumbnail-size() {
	button.icon {
		width: 25px;
		max-width: 25px;
	}
	.snap.icon {
		display: none!important;
	}
	.icon.pressed {
		box-shadow: unset;
	}
	.icons.container {
		height: 40px;
	}
	.icons.container .grey.background {
		height: 20px;
		border-width: 2px;
	}
	.lifted::after,
	button.icon::after {
		content: unset;
	}
	body.alive ,body, .icon, * {
		cursor: url("/acornOS/assets/images/paulie/paulie_default_small.png"), auto !important;
	}
	.app.window {
		display: none !important;
	}
}
