@import "prefixes";

// ================================================
//      		Flex Box Helper
// ================================================

@mixin flex($jc: center, $ai: center, $fd: column) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
	flex-direction: $fd;
}

.disable-dbl-tap-zoom {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

// ROTATE
@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
	@include css3-prefix("transform", rotate($deg + deg));
	filter: progid:DXImageTransform.Microsoft.Matrix(
       M11=#{$m11}, M12=#{$m12}, M21=#{$m21}, M22=#{$m22}, sizingMethod='auto expand');
	zoom: 1;
}

// TEXT SHADOW
@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0, 0, 0, 0.4)) {
	text-shadow: $x $y $blur $color;
}

@mixin tablet() {
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
		@content;
	}
}

@mixin phone() {
	@media only screen and (max-width: 600px) {
		@content;
	}
}

@mixin not-phone() {
	@media only screen and (min-width: 600px) {
		@content;
	}
}

@mixin for-tablet-only() {
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
		@content;
	}
}
@mixin for-tablet-portrait-only() {
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
		@content;
	}
}
@mixin for-tablet-landscape-only() {
	@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
		@content;
	}
}

@mixin disableMobileZoom {
	body {
		touch-action: pan-x pan-y;
	}
	* {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}
}
