$header: #eeeeee;
$content: #d8d8d8;
$close: #ff0000;

.app.window {
	z-index: 10;
	position: absolute;
}

.app.window {
	position: absolute;

	img {
		max-width: 100%;
	}
}

.niftydex.window {
	width: 350px;

	@include phone() {
		width: 70%;
	}
}

.micropaint.window {
	width: 390px;
	background-image: url(/nft/apps/micropaint.png);
	background-size: contain;
	background-repeat: no-repeat;
	// background-color: blue;

	left: 10%;
	top: 10%;

	canvas {
		// border: solid 5px red;
		float: right;
		margin-top: 40px;
	}

	pre {
		margin-top: 60vh;
		margin-left: 10vw;
	}

	@include phone() {
		width: 80%;
	}
}

#MicropaintTouchCanvas {
	// border: solid 5px green;
	@include not-phone() {
		display: none;
	}
}
#MicropaintCursorCanvas {
	@include phone() {
		display: none;
	}
}

.ui.window {
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: column;

	box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;

	.header {
		margin: 0;
		background: $header;
		height: 52px;
		width: 100%;
		display: flex;
		align-items: center;
		border-left: solid 5px black;
		border-top: solid 5px black;
		border-bottom: 5px black solid;
		border-right: solid 5px black;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;

		.text {
			font-size: 22px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
	.close {
		$size: 27px;
		width: $size !important;
		height: $size !important;
		min-width: $size !important;
		min-height: $size !important;
		z-index: 100;
		border-color: black;
		border-style: solid;
		border-width: 5px;
		background: $red;
		margin: 4px;
		margin: 0 10px;
		@include border-radius(40px);
		@include transition(all 100ms);
		&:hover {
			@include transform(scale(1.1));
		}
	}

	$grey: #d8d8d8;

	.body {
		border-right: solid 5px black;
		border-bottom: solid 5px black;
		border-left: solid 5px black;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		background: $grey;

		// height: 100%;
		flex: 1;

		.content {
			height: 100%;
		}
	}
}
