$header: #eeeeee;
$content: #d8d8d8;
$close: #ff0000;

$header-height: 50px;
$content-height: calc(100% - #{$header-height});

.app.window {
	// z-index: 10;
	// max-width: 100%;
	position: absolute;

	h1.header {
		margin: 0;
		background: $grey;
		// z-index: 100;
		position: absolute;
		width: 100%;
		line-height: $header-height;

		font-size: 22px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.close {
		// $size: 27px;
		// width: $size !important;
		// height: $size !important;
		// min-width: $size !important;
		// min-height: $size !important;
		// z-index: 100;
		// border-color: black;
		// border-style: solid;
		// border-width: 5px;
		// background: $red;
		// margin: 4px;
		// margin: 0 10px;
		// @include border-radius(40px);
		// @include transition(all 100ms);
		// &:hover {
		// 	@include transform(scale(1.1));
		// }
	}

	$grey: #d8d8d8;

	.content {
		// position: absolute;
		// top: 0px;
		width: 100%;
		height: 100%;
		background: white;
	}
	img {
		max-width: 100%;
	}
}

.window.border {
	border: solid 5px black;
	h1.header {
		border-bottom: 5px black solid;
	}
}

.niftydex.window {
	width: 350px;

	@include phone() {
		width: 70%;
	}
}
.credenza.window {
	audio {
		position: absolute;
		left: 5%;
		bottom: 5%;
		width: 90%;
		height: 20%;
		&::-webkit-media-controls-panel {
			background-color: #d8d8d8;
		}
	}
}

.notepad.window {
	left: 5%;
	bottom: 5%;
	width: 90%;
	height: 20%;
}


.micropaint.window {
	width: 390px;
	height: 400px;
	background-image: url(/nft/apps/micropaint.png);
	// background-size: contain;
	// background-repeat: no-repeat;
	// background-color: blue;

	canvas {
		// border: solid 5px red;
		// float: right;
		// margin-top: 40px;
	}

	@include phone() {
		// width: 90%;
		// left: 2%;
		// top: 5%;
	}
}
