@charset "utf-8";


//  COLORS

$green: #68ffbb;
$grey: #eeeeee;

$power-red: #FF0067;
$nifty-yellow: #F1FF5C;
$music-red: #CC4A00;
$notepad-brown: #C97F00;

$text-color: #111 !default;
$background-color: $green;


@font-face { 
	font-family: terminal; 
	src: url('/nft/font/terminal-grotesque.ttf'); 
} 



.debug {
	border: solid 1px red;
}


@import "shared";
@import "base", "layout";
@import "icons";
