@charset "utf-8";

//  COLORS

$green: #68ffbb;
$red: #ff0000;
$grey: #eeeeee;

$power-red: #ff0067;
$nifty-yellow: #f1ff5c;
$music-red: #cc4a00;
$notepad-brown: #c97f00;

$shadow-grey: #c3c3c3;

$text-color: #111 !default;
$background-color: $green;

@font-face {
	font-family: terminal;
	src: url("/nft/font/terminal-grotesque.ttf");
}

@import "shared";
@import "base", "layout";
@import "icons", "windows", "cursor";

@include thumbnail-size() {
	.snap.icon {
		display: none!important;
	}
	.icon.pressed {
		box-shadow: unset;
	}
	.icons.container {
		height: 40px;
	}
	.icons.container .grey.background {
		height: 20px;
		border-width: 2px;
	}
	.lifted::after,
	button.icon::after {
		content: unset;
	}
	body, .icon, * {
		cursor: url("/nft/paulie/paulie_default_small.png"), auto !important;
	}
	.app.window {
		display: none !important;
	}
}
