@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

//  COLORS

$green: #68ffbb;
$red: #ff0000;
$grey: #eeeeee;
$header-bg: #eeeeee;
$content-bg: b8d8;
$border: solid #000 4px;
$content-padding: 5px;
$blue: #2962ff;

$text-color: #111 !default;
$background-color: $green;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $base-font-size * $ratio;
}

// // Import partials.

@font-face {
	font-family: VT323;
	src: url(../VT323.ttf);
}
@font-face {
	font-family: terminal;
	src: url(../acorn/terminal-grotesque.ttf);
}

@import "acorn/shared";
@import "acorn/base";

@import "acorn/story";

// @import "acorn/layout";

// @import "acorn/icons";
// @import "acorn/cursor";
// @import "acorn/windows";

// "acorn/syntax-highlighting";

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
