@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

//  COLORS

$green: #68ffbb;
$red: #ff0000;
$grey: #eeeeee;
$header-bg: #eeeeee;
$content-bg: b8d8;
$border: solid #000 4px;
$content-padding: 5px;
$blue: #2962ff;

$text-color: #111 !default;
$background-color: $green;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $base-font-size * $ratio;
}

// // Import partials.

@font-face {
	font-family: VT323;
	src: url(../VT323.ttf);
}
@font-face {
	font-family: terminal;
	src: url(../acorn/terminal-grotesque.ttf);
}

@import "acorn/shared";
@import "acorn/base";

// @import "acorn/layout";

// @import "acorn/icons";
// @import "acorn/cursor";
// @import "acorn/windows";
@import "acorn/windows2";

// "acorn/syntax-highlighting";

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }

body.paulie {
	cursor: url("/assets/paulie/cursor1.png"), auto !important;

	button {
		cursor: url("/assets/paulie/cursor1.png"), auto !important;
	}
	#Desktop {
		cursor: url("/assets/paulie/cursor1.png"), auto !important;
	}
}

#PoweredOff {
	background-color: black;
}

#Desktop {
	background-color: $green;
	height: 100vh;
	width: 100vw;
	top: 0;
	left: 0;
	position: absolute;
}

#Final {
	background-color: red;
	height: 100vh;
}

.window {
	div {
		text-align: center;
	}
}

// PAULIE
#PaulieIntro {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 40%;
	left: 40%;
	img.face {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		@include transition(all 100ms ease-out);
	}
	img.body {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		z-index: 100;
		@include transition(all 100ms ease-out);
	}
	img.shadow {
		position: absolute;
		top: 13px;
		left: -18px;
		opacity: 0.7;
		width: 110%;
		height: 110%;
		@include transition(all 100ms ease-out);
	}
}

// DIALOG
#Dialog {
	position: absolute;
	top: 1%;
	left: 5%;
	width: 90%;
	height: 5%;
	background-color: #eee;
	border: inset 4px;
}

// PET
.pet {
	position: absolute;
	border: solid 1px;
	text-align: center;
	padding: 10px;
}

// POOP
.poop {
	position: absolute;
	z-index: 200;
}

.window {
	img {
		max-width: 200px;
	}
}

#Updater1 {
	z-index: 200;
}

#Updater2 {
	z-index: 200;
}

$overlay1z: 200;

// overlay
#Updater1Overlay {
	background: rgba(255, 255, 255, 0.17);
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: $overlay1z;
}
