{% assign cachedz = site.time | date: '%M%S' %}

<!DOCTYPE html>
<html>

<head>
	<title>{{page.title}}</title>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

	<!-- Javascript -->
	<script src="/assets/scripts/lib/jquery-1.10.2.js"></script>
	<script src="/assets/scripts/lib/jquery-ui-1.10.4.js"></script>

	<!-- Style -->
	<link as="style" href="/assets/font/terminal-grotesque.ttf" />
	<link rel="stylesheet" href="/assets/stylesheets/main.css?cachedz={{ cachedz}}">

	<meta property="og:image" content="https://os.nifnut.com/assets/images/preview-image.jpg" />
</head>

<body class="loading">

	{{ content }}

	<script src="/assets/js/sound.js?cachedz={{ cachedz }}"></script>
	<script src="/assets/js/desktop.js?cachedz={{ cachedz }}"></script>
	<script src="/assets/js/cursor.js?cachedz={{ cachedz }}"></script>
	<script src="/assets/js/story.js?cachedz={{ cachedz }}"></script>
	<script src="/assets/js/micropaint.js?cachedz={{ cachedz }}"></script>
	
</body>

</html>