<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{% assign version = site.version %}
{% assign timestamp = site.time | date: '%M%S' %}
{% capture cachedz %}v{{ version }}{{ timestamp }}{% endcapture %}

<head>

	{% include head.html %}

	<!-- Javascript -->
	<script src="/assets/scripts/lib/jquery-1.10.2.js"></script>
	<script src="/assets/scripts/lib/jquery-ui-1.10.4.js"></script>
	<script src="/assets/scripts/lib/jquery.scrollbar.js"></script>

	<!-- Style -->
	<link rel="preload" as="style" href="/nft/font/terminal-grotesque.ttf" />

	<link rel="stylesheet" href="/nft/stylesheets/main.css?cachedz={{ cachedz}}">

	<title>{{page.title}}</title>

</head>

<body>

	{{ content }}

	<script src="/nft/js/desktop.js?cachedz={{ cachedz }}"></script>

</body>

</html>